<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEB</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoServlet</display-name>
    <servlet-name>DemoServlet</servlet-name>
    <servlet-class>com.itheima.demo.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LineServlet</display-name>
    <servlet-name>LineServlet</servlet-name>
    <servlet-class>cn.itheima.line.LineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LineServlet</servlet-name>
    <url-pattern>/line</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.itheima.header.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentServlet</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.itheima.content.ContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/content</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.itheima.forward.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet2</display-name>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.itheima.forward.Servlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.itheima.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.itheima.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.itheima.checkimg.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllFlow</display-name>
    <servlet-name>FindAllFlow</servlet-name>
    <servlet-class>com.itheima.flow.FindAllFlow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllFlow</servlet-name>
    <url-pattern>/findAllFlow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteFlow</display-name>
    <servlet-name>deleteFlow</servlet-name>
    <servlet-class>com.itheima.flow.DeleteFlow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFlow</servlet-name>
    <url-pattern>/deleteFlow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFlow</display-name>
    <servlet-name>addFlow</servlet-name>
    <servlet-class>com.itheima.flow.AddFlow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFlow</servlet-name>
    <url-pattern>/addFlow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>switchTopo</display-name>
    <servlet-name>switchTopo</servlet-name>
    <servlet-class>com.itheima.switchManager.SwitchTopo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>switchTopo</servlet-name>
    <url-pattern>/switchTopo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dijistra</display-name>
    <servlet-name>dijistra</servlet-name>
    <servlet-class>com.itheima.arithmetic.dijistra.Dijistra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dijistra</servlet-name>
    <url-pattern>/dijistra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrePass</display-name>
    <servlet-name>PrePass</servlet-name>
    <servlet-class>com.itheima.arithmetic.prePass.PrePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrePass</servlet-name>
    <url-pattern>/prePass</url-pattern>
  </servlet-mapping>
</web-app>